body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #3498db; /* Fondo azul */
    color: #fff; /* Texto blanco */
}

h1 {
    margin-top: 50px; /* Espacio superior para centrar */
}
/* Estilos para el botón */
.boton-azul {
    padding: 15px 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #0bfa6f; /* Color azul */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

/* Cambio de color al pasar el ratón sobre el botón */
.boton-azul:hover {
    background-color: #2980b9; /* Color azul más oscuro */
}

.boton:hover {
    background-color: #2980b9; /* Color azul más oscuro */
}